/* Деятельность */
.activity__header {
    padding-bottom: 50px;
}

/* .activity__list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.activity__item {
    display: flex;
}

.activity__list {
    .activity__item {
        position: relative;
    }
}

.activity__item {
    img {
        display: block;
    }
}

.activity__text {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
    background: rgba(47, 48, 58, 0.8);
} */