/* .header {
  padding: 24px 15px 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  background-color: $primary-white-color;
} */
.header__nav {
  display: flex;
}

.header__flex {
  display: flex;
  align-items: center;
}

/* .header__link {
  color: $head-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
} */
/* 
.header__item {
  margin-right: 50px;
} */
/* 
.header__list {
  display: flex;
  align-items: center;
} */
/* .header__contact {
  display: flex;
  align-items: center;
  margin-left: auto;
} */
/* .header__telmail {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  fill: $primary-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
} */

/* .header__mail {
  margin-right: 30px;
} */
/* 
.header__icon {
  margin-right: 20px;
  vertical-align: middle;
} */

/* Подчеркивание активной страницы */
/* .header__current::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  display: block;
  bottom: -30px;
} */
