/* Логотип верхний */
.logo {
    color: $accent-color;
    font-family: $secondaryFont, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    left: 15px;
    margin-right: auto;
/*     margin-right: 93px; */
}

.footer .logo {
    position: inherit;
}

.logo-black {
    color: $logo-black-color;
}

.logo-white {
    color: $primary-white-color;
}