.peculiarity__header {
    color: $head-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;
        @media screen and (max-width: 768px) {
            text-align: center;
        }
}

.peculiarity {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}



.peculiarity__icon {
    display: flex;
    height: 120px;
    background-color: $button-background-color;
    border-radius: 4px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    &svg {
        justify-content: center;
    }

}

/* Подписи под заголовками */
.peculiarity__text {
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
    letter-spacing: 0.03em;
    width: 100%;
}

.peculiarity__head {

    @media screen and (min-width: 768px) {

            width: calc((100% - 4*15px)/2);
        }
    
        @media screen and (min-width: 1200px) {

            width: calc((100% - 8*15px)/4);
        }
}