  $primary-text-color: #757575;
  $head-text-color: #212121;
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $hero-background-color: #2f303a;
  $button-background-color: #f5f4fa;
  $primary-background-color: #f5f5f5;
  $logo-black-color: #000;
  $border-color: #eeeeee;
  $icon-color: #AFB1B8;
  $policy-link-color: #2196F3;

  $mainFont: "Roboto";
  $secondaryFont: "Raleway";